dataset.pt
datasetsmall.pt
testset.pt
.vscode/settings.json
__pycache__/configs.cpython-37.pyc
__pycache__/dataloader.cpython-37.pyc
lightning_logs/LSTM_Sequential/events.out.tfevents.1619794132.gpu.8985.0
lightning_logs/LSTM_Sequential/hparams.yaml
lightning_logs/LSTM_Sequential/checkpoints/epoch=119-step=55559.ckpt
lightning_logs/Resnet_LSTM_FCN/events.out.tfevents.1619706259.gpu.10967.0
lightning_logs/Resnet_LSTM_FCN/hparams.yaml
lightning_logs/Resnet_LSTM_FCN/checkpoints/epoch=52-step=1695.ckpt
lightning_logs/Resnet_LSTM_FCN_2/events.out.tfevents.1619718823.gpu.3090.0
lightning_logs/Resnet_LSTM_FCN_2/hparams.yaml
lightning_logs/Resnet_LSTM_FCN_2/checkpoints/epoch=119-step=3839.ckpt
lightning_logs/version_0/events.out.tfevents.1620406373.LAPTOP-6L4BA8S3.25572.0
lightning_logs/version_0/hparams.yaml
lightning_logs/version_1/events.out.tfevents.1620406463.LAPTOP-6L4BA8S3.16596.0
lightning_logs/version_1/hparams.yaml
lightning_logs/version_2/events.out.tfevents.1620407095.LAPTOP-6L4BA8S3.13308.0
lightning_logs/version_2/hparams.yaml
lightning_logs/VGG_LSTM_FCN/events.out.tfevents.1619544495.LAPTOP-6L4BA8S3.17752.0
lightning_logs/VGG_LSTM_FCN/hparams.yaml
lightning_logs/VGG_LSTM_FCN/checkpoints/epoch=103-step=28671.ckpt
models/__pycache__/convlstm.cpython-37.pyc
models/__pycache__/fcn32s.cpython-37.pyc
models/__pycache__/litmodel.cpython-37.pyc
models/__pycache__/resnet.cpython-37.pyc
models/__pycache__/vgg.cpython-37.pyc
Resnet_batched_separate_interleaved/