.ipynb_checkpoints
.vscode
*events.out.tfevents*
*.pyc
*.pth
*.jpg
*.png
libs/models/__pycache__/jpu.cpython-37.pyc
lightning_logs/
dataset.pt
lookingfastslow.zip
chkpoints/Resnet_LSTM_FCN/hparams.yaml
chkpoints/Resnet_LSTM_FCN/checkpoints/epoch=52-step=1695.ckpt
chkpoints/Resnet_LSTM_FCN_2/hparams.yaml
chkpoints/Resnet_LSTM_FCN_2/checkpoints/epoch=119-step=3839.ckpt
datasetsmall.pt
tp.png
testset.pt
datasetsmall.pt
__pycache__/